{% for article in articles %}
    <article class="summary">
        <a href="{{doc_root}}/article/{{ article.id }}/{{ article.seo_title }}">
            {% if article.image_file %}
                <img alt="{{ article.image_alt | e('html_attr') }}" src="{{ doc_root }}/uploads/{{ article.image_file }}">
            {% else %}
                <img alt="Placeholder image" src="{{ doc_root }}/uploads/blank.png">
            {% endif %}

            <h2>{{ article.title }}</h2>
            <p>{{ article.summary }}</p>
        </a>
        <p class="credit">
            Posted in
            <a href="{{ doc_root }}/category/{{ article.category_id }}/{{ article.seo_category }}">
                {{ article.category }}
            </a>
            by
            <a href="{{ doc_root }}/member/{{ article.member_id }}">
                {{ article.author }}
            </a>
        </p>

        {% if session.id == article.member_id %}
            <a href="{{ doc_root }}/work/{{ article.id }}" class="btn btn-primary">Edit</a>
        {% endif %}
    </article>
{% endfor %}
