{% extends 'layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block description %}
    {{ description | e('html_attr') }}
{% endblock %}

{% block content %}
    <main class="article container">
         <section class="image">
            {% if article.image_file %}
                <img alt="{{ article.image_alt | e('html_attr') }}" src="{{ doc_root }}/uploads/{{ article.image_file }}" />
            {% else %}
                <img alt="Placeholder image" src="{{ doc_root }}/uploads/blank.png" />
            {% endif %}
         </section>
         <section class="text">
            <h1>{{ article.title }}</h1>
            <div class="social">
                <div class="like-count">
                    {% if session.id == 0 %}
                        <a href="{{ doc_root }}/login">
                            <span class="icon-heart-empty"></span>
                        </a>
                    {% else %}
                        <a href="{{ doc_root }}/like/{{ article.id }}">
                            {% if liked %}
                                <span class="icon-heart"></span>
                            {% else %}
                                <span class="icon-heart-empty"></span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {{ article.likes }}
                </div>
                <div class="comment-count">
                    <span class="icon-comment"></span>
                    {{ article.comments }}
                </div>
            </div>
            <div class="date">{{ article.created | date('F d, Y') }}</div>
            <div class="content">{{ article.content | raw }}</div>
            <p class="credit">
                Posted in
                <a href="{{ doc_root }}/category/{{ article.category_id }}/{{ article.seo_category }}">
                    {{ article.category }}
                </a>
                by
                <a href="{{ doc_root }}/member/{{ article.member_id }}">{{ article.author }}</a>
            </p>
         </section>

         <section class="comments">
            <h2>Comments</h2>

            {% for comment in comments %}
                <div class="comment">
                    <img alt="comment.author" src="{{ doc_root }}/uploads/{{ comment.picture }}" />
                    <b>{{ comment.author }}</b>
                    <br />
                    {{ comment.posted | date('H:i a - F d, Y') }}
                    <br />
                    <p>{{ comment.comment | raw }}</p>
                </div>
            {% endfor %}

            {% if session.id > 0 %}
                <form action="{{ doc_root }}/article/{{ article.id }}/{{ article.seo_title }}" method="POST">
                    <label for="comment">Add comment: </label>
                    <textarea name="comment" id="comment" class="form-control"></textarea>

                    {% if error == true %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endif %}

                    <br />
                    <input type="submit" value="Save comment" class="btn btn-primary" />
                </form>
            {% else %}
                <p>
                    You must <a href="{{ doc_root }}/login">log in to make a comment</a>.
                </p>
            {% endif %}
         </section>
    </main>
{% endblock %}
