{% extends 'layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block description %}
    {{ description | e('html_attr') }}
{% endblock %}

{% block content %}
    <main class="container" id="content">
        <section class="header">
            <form action="{{ doc_root }}/search.php" class="form-search" method="GET">
                <label for="search">
                    <span>Search for:</span>
                </label>
                <input type="text" name="term" id="search" value="{{ term | e('html_attr') }}" placeholder="Enter search term" />
                <input type="submit" class="btn" value="Search" />
            </form>

            {% if term %}
                <p>
                    <b>Matches found:</b>
                    {{ count }}
                </p>
            {% endif %}
        </section>

        <section class="grid">
            {{ include('article-summaries.html.twig') }}
        </section>

        {{ include('pagination.html.twig') }}
    </main>
{% endblock %}
